* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: Poppins, sans-serif;
}

a {
  transition: 0.3s;
  text-decoration: none !important;
  color: #fff;
}

a::after {
  text-decoration: none;
}

/* NAV Starts*/

.topnav {
  display: flex;
  justify-content: space-around;
  background-color: white;
  overflow: hidden;
  font-family: Poppins, sans-serif;
  padding-bottom: 16px;
  padding-top: 16px;
  border-bottom: 3px dotted rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.logo {
  display: flex;
}

.logo-name {
  display: flex;
  align-items: flex-end;
  padding: 0px 8px;
  font-weight: lighter;
}

.nav-buttons {
  display: flex;
  align-items: flex-end;
}

.button {
  padding: 0px 16px;
}

.first-name {
  padding-right: 4px;
  padding-left: 4px;
  font-weight: lighter;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

.last-name {
  font-weight: lighter;
  padding-right: 4px;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.topnav > .logo > img {
  max-width: 64px;
  max-height: 64px;
}

/* nav links style*/
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  font-family: Poppins, sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: #ccc;
}

@media screen and (max-width: 800px) {
  .topnav {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .nav-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 16px 2px;
  }

  .logo-name {
    display: none;
  }

  .logo-img {
    margin: auto;
    padding-top: 16px;
  }
}

/* NAV Ends*/

/* Home Photo Gallery starts*/

.home-container {
  height: 68vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 32px 32px;
  grid-gap: 16px;
  border-bottom: 3px dotted rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding-bottom: 64px;
  margin-bottom: 64px;
}

.home-container .image {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.home-container img {
  transition: 0.3s;
  filter: brightness(70%);
}

.home-container > div > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #fff;
  font-size: 16;
}

.home-container .image-1 {
  grid-area: 1 / 1 / 3 / 3;
}

.home-container > .image > .image-text > h2 {
  font-size: 44px;
  font-weight: 1000;
}

.home-container > .image-right > .image-text > p {
  font-style: italic;
}

.home-container > .image > .image-text > a {
  font-size: 20px;
}

.view-button {
  background: rgba(0, 0, 0, 0);
  color: #fff;
  margin-top: 8px;
  width: 100px;
  border: none;
  outline: none;
  height: 35px;
  border: 1px solid #fff;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.view-button:hover {
  background: #fff;
  color: #000;
  transition: 0.3s;
}

@media screen and (max-width: 800px) {
  .home-container {
    display: block;
  }
  .home-container > .image > .image-text > a {
    font-size: 32px;
  }
}

/* Home Photo Gallery Ends*/

/* Mens + Womens Section  Starts*/

.mens > h1,
.womens > h1 {
  margin-left: auto;
  padding-left: 32px;
  font-family: Poppins, sans-serif;
}

.mens > h2,
.womens > h2 {
  text-align: end;
  margin: auto;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: lighter;
  font-style: italic;
  padding-right: 32px;
}

.mens-img-gal-container,
.womens-img-gal-container {
  --gap: 32px;
  --num-cols: 4;
  --row-height: 500px;

  box-sizing: border-box;
  padding: var(--gap);

  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
  border-bottom: 3px dotted rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding-bottom: 64px;
  margin-bottom: 64px;
}

.mens-img-gal-container > img,
.womens-img-gal-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(90%);
}

@media screen and (max-width: 800px) {
  .mens-img-gal-container,
  .womens-img-gal-container {
    --num-cols: 1;
    --row-height: auto;
  }
}

/* Mens + Womens Section Ends*/

/* Products Section Begins */

.products-container {
  max-width: 100vw;
  max-height: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 64px 1fr 1fr 0.5fr;
  gap: 32px;
  padding: 0px 32px 0px 32px;
  box-sizing: border-box;
  border-bottom: 3px dotted rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-bottom: 24px;
}

.products-header {
  grid-column-start: 1;
  grid-column-end: 5;
}

.products-header > h1 {
  margin: 0;
}

.products-content-1 {
  grid-row-start: 2;
  grid-row-end: span 2;
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 20px;
}

.products-content-1 > h2 {
  font-weight: lighter;
  margin-bottom: 32px;
}

.products-content-1 > h3 {
  text-align: center;
  margin-bottom: 32px;
}

.products-content-1 > .products-p1 {
  margin-bottom: 32px;
}

.products-content-1 > .p2 {
  text-align: right;
}

.products-footer {
  text-align: center;
  font-style: italic;
  grid-column: 1 / span 4;
  padding-top: 32px;
}

.products-img > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(50%);
  transition: 0.3s;
}

.products-img img:hover {
  filter: brightness(100%);
  transition: 0.3s;
}

@media screen and (max-width: 800px) {
  .products-container {
    display: block;
    padding-bottom: 64px;
  }
  .products-img {
    display: none;
  }
}

/* Products Section Ends*/

/* Contact Section Starts */

.contact-container {
  padding: 16px;
}

.contact-form {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 2px;
  border: 1px solid black;
  margin-bottom: 64px;
}

.contact-right,
.contact-left,
.contact-header {
  padding-left: 16px;
}

.contact-header {
  grid-column-start: 1;
  grid-column-end: 3;
  margin-bottom: 16px;
}

.contact-left {
  grid-column-start: 1;
  grid-column-end: 2;
}

.contact-right {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.input-row {
  display: flex;
  justify-content: space-between;
}

input {
  width: 20vw;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  margin-bottom: 8px;
}

textarea {
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 8px;
  margin-bottom: 8px;
}

label {
  display: block;
  color: #000;
}

.send-button {
  background: #000;
  width: 100px;
  border: none;
  outline: none;
  color: #fff;
  height: 35px;
  border-radius: 30px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
}

.contact-left h3,
.contact-right h3 {
  font-weight: 600;
  margin-bottom: 32px;
}

.contact-right {
  background-color: #000;
  color: #fff;
  padding: 16px;
}

.contact-left {
  padding: 16px;
}

tr td:first-child {
  padding: 20px;
}

@media screen and (max-width: 750px) {
  .contact-form {
    display: block;
  }
  .input-row {
    display: block;
  }
  .input-row input {
    width: 100%;
  }
  .contact-right {
    display: block;
  }
}

/* Contact Section Ends */

/* Footer Section Begins */

.footer-container {
  display: grid;
  grid-template-columns: 1fr 80px 1fr;
  grid-template-rows: auto;
  width: 100vw;
  position: absolute;
  margin: 0;
  padding: 0;
  float: left;
}

.social-icons {
  align-items: center;
  display: flex;
  background-color: black;
  height: 128px;
}

.social-icons > a > img {
  display: block;
  max-height: 64px;
  max-width: 64px;
}

.social-icons > img {
  max-height: 64px;
  max-width: 64px;
}

.social-icon-1 {
  justify-content: right;
}

.social-icon-2 {
  justify-content: center;
}

.social-icon-3 {
  justify-content: left;
}

/* Footer Section Ends*/
