* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: Poppins, sans-serif;
  padding-left: 5%;
  padding-right: 5%;
}

a {
  transition: 0.3s;
  text-decoration: none;
}

a::after {
  text-decoration: none;
}

/* NAV Starts*/

.topnav {
  display: flex;
  justify-content: space-around;
  background-color: white;
  overflow: hidden;
  font-family: Poppins, sans-serif;
  padding-bottom: 16px;
  padding-top: 16px;
}

.logo {
  display: flex;
}

.logo-name {
  display: flex;
  align-items: flex-end;
  padding: 0px 8px;
  font-weight: lighter;
}

.nav-buttons {
  display: flex;
  align-items: flex-end;
}

.button {
  padding: 0px 16px;
}

.first-name {
  padding-right: 4px;
  padding-left: 4px;
  font-weight: lighter;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

.last-name {
  font-weight: lighter;
  padding-right: 4px;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.topnav > .logo > img {
  max-width: 64px;
  max-height: 64px;
}

/* nav links style*/
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  font-family: Poppins, sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: #ccc;
}

@media screen and (max-width: 800px) {
  .topnav {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .nav-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 16px 2px;
  }

  .logo-name {
    display: none;
  }

  .logo-img {
    margin: auto;
    padding-top: 16px;
  }
}

/* NAV Ends*/

/* Home Photo Gallery starts*/

.img-gal-container {
  --gap: 32px;
  --num-cols: 4;
  --row-height: 250px;

  box-sizing: border-box;
  padding: var(--gap);

  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
  border-bottom: 3px dotted rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-bottom: 64px;
  padding-bottom: 64px;
  padding-top: 64px;
  border-top: 3px dotted rgba(0, 0, 0, 0.2);
}

.img-gal-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(60%);
  transition: 0.3s;
}

.img-gal-container > img:hover {
  filter: brightness(100%);
}

.img-gal-2-col {
  grid-column: span 2;
}

.img-gal-2-row {
  grid-row: span 2;
}

@media screen and (max-width: 1024px) {
  .img-gal-container {
    --num-cols: 2;
    --row-height: 200px;
  }
}

/* Home Photo Gallery Ends*/

/* Mens + Womens Section  Starts*/

.mens > h1,
.womens > h1 {
  margin-left: auto;
  padding-left: 32px;
  font-family: Poppins, sans-serif;
}

.mens > h2,
.womens > h2 {
  text-align: end;
  margin: auto;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: lighter;
  font-style: italic;
  padding-right: 32px;
}

.mens-img-gal-container,
.womens-img-gal-container {
  --gap: 32px;
  --num-cols: 4;
  --row-height: 500px;

  box-sizing: border-box;
  padding: var(--gap);

  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
  border-bottom: 3px dotted rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding-bottom: 64px;
  margin-bottom: 64px;
}

.mens-img-gal-container > img,
.womens-img-gal-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(90%);
}

@media screen and (max-width: 800px) {
  .mens-img-gal-container,
  .womens-img-gal-container {
    --num-cols: 1;
    --row-height: auto;
  }
}

/* Mens + Womens Section Ends*/

/* Products Section Begins */

.products-container {
  max-width: 100vw;
  max-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 64px 1fr 1fr 0.5fr;
  gap: 32px;
  padding: 0px 32px 0px 32px;
  box-sizing: border-box;
  border-bottom: 3px dotted rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-bottom: 24px;
}

.products-header {
  grid-column-start: 1;
  grid-column-end: 5;
}

.products-header > h1 {
  margin: 0;
}

.products-content-1 {
  grid-row-start: 2;
  grid-row-end: span 2;
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 20px;
}

.products-content-1 > h2 {
  font-weight: lighter;
  margin-bottom: 32px;
}

.products-content-1 > h3 {
  text-align: center;
  margin-bottom: 32px;
}

.products-content-1 > .products-p1 {
  margin-bottom: 32px;
}

.products-content-1 > .p2 {
  text-align: right;
}

.products-footer {
  text-align: center;
  font-style: italic;
  grid-column: 1 / span 4;
  padding-top: 32px;
}

.products-img > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(50%);
  transition: 0.3s;
}

.products-img img:hover {
  filter: brightness(100%);
  transition: 0.3s;
}

@media screen and (max-width: 800px) {
  .products-container {
    display: block;
    padding-bottom: 64px;
  }
  .products-img {
    display: none;
  }
}

/* Products Section Ends*/

.contact-container {
  max-height: 80vh;
  max-width: 100vw;
  border-bottom: 3px dotted rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 32px 32px 64px;
  margin-bottom: 64px;
}

.contact {
  background: #fff;
  display: flex;
}

.contact-left {
  flex-basis: 60%;
  padding: 40px 60px;
  border: solid 1px #000;
}

.contact-right {
  flex-basis: 40%;
  padding: 40px;
  background: #000;
  color: #fff;
  border: solid 1px #000;
}

.contact-container > h1 {
  margin-bottom: 10px;
}

.contact-container p {
  margin-bottom: 40px;
}

.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-row .input-group {
  flex-basis: 45%;
}

input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding-bottom: 5px;
}

textarea {
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
}

label {
  margin-bottom: 10px;
  display: block;
  color: #000;
}

button {
  background: #000;
  width: 100px;
  border: none;
  outline: none;
  color: #fff;
  height: 35px;
  border-radius: 30px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
}

.contact-left h3 {
  color: #000;
  font-weight: 600;
  margin-bottom: 30px;
}

.contact-right h3 {
  font-weight: 600;
  margin-bottom: 30px;
}

tr td:first-child {
  padding: 20px;
}

@media screen and (max-width: 800px) {
  .contact-right {
    display: none;
  }
}
/* Footer Section Begins */

/* Footer Section Ends*/
